<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заико Полина Алексеевна. Расчетно-графическая работа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <ul>
            <li class="current"><a href="/rgr">Главная страница</a></li>
            <li class="current"><a href="/rgr/list">Список книг</a></li>

            {% if current_user.is_authenticated and current_user.username == 'polina' %}
                <li class="current"><a href="/rgr/add_book">Добавить новую книгу</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li class="current"><a href="">{{ current_user.username }}</a></li>
                <li class="current"><a href="/logout">Выйти из профиля</a></li>
            {% else %}
                <li class="current"><a href="/rgr/login">Логин</a></li>
                <li class="current"><a href="/rgr/register">Регистрация</a></li>
            {% endif %}
        </ul>
    </header>

    <main> 
        {% block main%}{% endblock %}
    </main>

    <footer >
        &copy; Заико Полина, ФБИ-14, 3 курс, 2023 КНИГИ
    </footer>
</body>
</html>