{% extends 'base.html' %}
{% block main%}
    <h2 class="opt">Пожалуйста, авторизуйтесь</h2>
    <form class="form" method="POST"> 
        <label for="username">Пользователь</label>
        <input type="text" name="username" value = '{{ username }}'>

        <label for="password">Пароль</label>
        <input type="password" name="password">

        <button type="submit">Войти</button>

        {% if error %}
            <p class="error">{{ error }}</p>
            <a class="a" href="{{ url_for('rgr.register') }}">Регистрация</a>
        {% endif %}
    </form>
{% endblock %}