{% extends 'base.html' %}
{% block main %}
<div class="opt">Добро пожаловать</div>
<table>
    <tr>
      <th>Вариант</th>
      <th>Задание</th>
    </tr>
    <tr>
        <td>
            6
        </td>

        <td>
            <br>Книги
            <br>Основная идея: пользователь может отфильтровать список книг из заданного списка.
            <br>На главной странице показать список книг (фото обложки, название книги, автор,
            количество страниц, издательство) - не менее 100 книг.
            <br>Любой посетитель сайта может воспользоваться фильтром: название, автор, 
            количество страниц (от-до), издательство.
            <br>В любом режиме (с фильтром или без) показывать не более 20 книг за раз. 
            Показать кнопку или ссылку "показать следующие", по которой показывать следующие 
            20 книг. Реализовать возможность сортировки книг по любому из полей.
            <br>Администратор сайта (один аккаунт) может добавлять новые книги, редактировать, либо удалять существующие.
            <br>Запросы на бэкэнд реализовать через перезагрузку страниц.
        </td>
    </tr>
</table>
{% endblock %}